.container {
    margin-left: 15px;
    margin-right: 15px;
    /* padding-top: 15px; */

    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 15px;



}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

form p {
    font-size: 20px;

}

form input[type="text"] {
    max-width: 50%;
    padding: 15px;
    border-radius: 7px;
}

form input[type="email"] {
    max-width: 50%;
    padding: 15px;
    border-radius: 7px;
}

form button {

    width: 100px;
    padding: 10px;
    background-color: seagreen;
    text-align: center;
    margin: auto;

}

form a {
    text-decoration: none;
    color: black;
    font-size: 20px;


}