.personal {
    text-align: center;
}

.personal i {
    margin-right: 7px;
}

.container {
    display: flex;
    /* grid-template-columns: 30% 70%; */
    gap: 40px;
}

.about p {
    max-width: 50%;

}

.Profile-Edit {
    position: relative;
    top: -150px;
}