<h2 class="topic">About me</h2>

        <div class="container">

            <div class="text">

                <p>My name is Mohamed Abdel Aziz, I'm a graduate of CNDs(Computer network and Distributed Networks). I
                    have
                    knowledge about server administration, network design, network protection, and link the company's
                    branch with
                    the main company with two years of experience in managing and maintaining MikroTik networks. As an
                    engineer
                    who handles all kinds of tasks and roles, I have many database projects, whether they are
                    work-related or
                    volunteer. I aim to continue learning and improving in the areas of network and information security
                </p>
            </div>
            <div class="image">
                <img src="/image/personal-photo.jpg" alt="">
            </div>
        </div>