<h2 class="topic">Pre-Work</h2>
<div class="container">
   
    
    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image/coffee.png " width="250px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image/Dummy.png " width="200px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>

    
    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image/protofolio.png " width="200px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>

    
    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image/protofolio.png " width="250px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>

    
    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image/job.png " width="250px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>

    
    <div class="card">
        <div class="box">
            <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3" style="color: #007bff;"></i>

              
            <div class="text">
                <h2>
                    Development</h2>

            </div>
        </div>
        <div class="info">
            <img src="/image//book-shop.png "width="250px" height="600px">
            <a href="#">Read More</a>
        </div>
    </div>
    


</div>