<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/add-exper.css">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <form action="/add-exper" method="POST">
            <h2 style="color: blue;">Add Experiance </h2>
            <p> Name of Experiance:</p>
            <input type="text" name="expName" placeholder="Enter  Name">
            <p>Company Description</p>
            <input type="text" name="companyName" placeholder="three words maximum %">
            <p> Expreience Description:</p>
            <input type="text" name="expDesc" placeholder="">

            <button style=" margin-top: 20px;" type="submit" > Save</button>


        </form>
    </div>
</body>

</html>