<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-services.css">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <form action="/add-services" method="POST">
            <h2 style="color: blue;">Add Services </h2>
            <p> Name of Services:</p>
            <input type="text" name="servName" placeholder="Enter  Name">
          
            <p> Services Description:</p>
            <input type="text" name="servDesc" placeholder="">

            <button style=" margin-top: 20px;" type="submit" > Save</button>


        </form>
    </div>
</body>

</html>