<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/add-personal.css">
</head>
<body>
    <div class="container">
        <h2 style="color: blue;">Add Personal Data</h2>
        <form action="">
            <p>First Name:</p>
            <input type="text" name="" placeholder="Enter First Name">
            <p>Last Name:</p>
            <input type="text" name="" placeholder="Enter last Name">
            <p>Company:</p>
            <input type="text" name="" placeholder=" Name Company">
            <p>Email:</p>
            <input type="email" name="" placeholder="Enter last Name">
            <button style=" margin-top: 20px;"> <a href="index.html">Save</a> </button>


            
            

        </form>
    </div>
</body>
</html>