<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="css/add-skill.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <form action="/add-skill" method="POST">
            <h2 style="color: blue;">Add Skill </h2>

            <p> Name of Skill:</p>
            <input type="text" name="skillName" placeholder="Enter  Name">
            <p>Enter Percentage%:</p>
            <input type="text" name="skillRange" >

            <button style=" margin-top: 20px;" type="submit"> Save </button>


        </form>
    </div>
</body>

</html>