<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-prework.css">
    <title>Document</title>
</head>
<body>
<div class="conainer">

    <div class="image">
        <h4 style="color: blue;">Add Prework </h4>
        <!-- <img src="/image/Dummy.png"   alt="" width="200px" height="400px"> -->
    </div>
    <div class="formation">
        <form action="/add-prework"  method="POST">
       
            <h4 style="color: rgb(54, 54, 219);">name of Prework:</h4>
            <input type="text" name="npre" style="border-radius: 5px;padding: 5px;">
            <h4 style="color: blue;">Add image for Prework</h4>
            <input type="text" name="imgpre">
            <button style=" margin-top: 20px;" type="submit" > Save</button>
   
    </form>

</div>
</div> 




</body>
</html>