<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/edait-services.css">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <form action="/edait-services/save" method="POST">
      
            <h2 style="color: blue;">Edait services </h2>
            <p> Name of services:</p>
            <input type="hidden" name="_id"  value ="<%= serv._id%>">
         
            <input type="text" name="servName" placeholder="Enter  Name"  value ="<%= serv.servName%>">
           
            <p> Expreience Description:</p>
            <input type="text" name="servDesc" placeholder="" value="<%= serv.servDesc%>">

            <button style=" margin-top: 20px;" type="submit" > Save</button>


        </form>
    </div>
</body>

</html>