<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!---------first mobile Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrab</title>
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="css/all.min.css" />
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="css/project3.css" />
    <link rel="stylesheet" href="css/add-education.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&#038;display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/jop-page.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/personal-page.css">


    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
</head>

<body>


    <div class="container">
        <h2 style="color: blue; text-align: center;">Edait  Education </h2>
        <form action="/edait-education/save" method="POST">
            <p> Last of Education:</p>
            <input type="text" name="Ledu" >
          
            <p> Graduate from</p>
            <input type=" text" name="gedu" >

            <p>Certificate and Cources:</p>
            <input type="text" name="cedu"  ><br>
         
           

            <button style=" margin-top: 20px;" type="submit" > Save</button>


        </form>

    </div>
</body>

</html>