<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!---------first mobile Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrab</title>
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="css/all.min.css" />
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="css/project3.css" />
    <link rel="stylesheet" href="css/education.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&#038;display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/jop-page.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/personal-page.css">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
</head>

<body>


    <div class="container">
        <h2 style="color: blue; text-align: center;">EDUCATION AND TRAINING </h2>
        <div class="content">
            <p>2014 – 2020 – Taiz, Yemen </p>
            <h3>BACHELOR: COMPUTER NETWORKS AND DISTRIBUTED SYSTEMS
                DEPARTMENT</h3>
            <h4>TAIZ UNIVERSITY FACULTY OF ENGINEERING AND INFORMATION
                TECHNOLOGY</h4>

            <p>2013 – 2014</p>
            <h3>GRADUATED FROM HIGH SCHOOL (SCIENTIFIC SECTION)</h3>
            <h4>Taiz Grand High School</h4>

            <p>10/2020</p>

            <h>Installation and Programming of Surveillance cameras</h>

            <h4>ITC- Institute</h4>
        </div>

        <div class="icon">
            <a href="add-education.html"><i class="fas fa-user-edit"></i></a></a>
            <!-- <i  class="fas fa-trash"></i> -->
            <!--Modal Delet-->
            <p onclick="document.getElementById('id01').style.display='block'"> <i class="fas fa-trash"></i></p>

            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">×</span>
                <form class="modal-content" action="/action_page.php">
                    <div class="container" style="display: flex; flex-direction: column;">
                        <h1>Delete Account</h1>
                        <p>Are you sure you want to delete your account?</p>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="cancelbtn">Cancel</button>
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="deletebtn">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            <a href="add-education.html"><i class="fas fa-plus-circle"></i></a>
        </div>




        </form>


    </div>
</body>

</html>