<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div  class="container" style="    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-top: 5%;
 
     width: fit-content padding;">
    
<img src="/image/personal.jpg" width="100px" height="100px" style="border-radius: 50px; padding: 30px;">
<br>
<form action="/personal-Edait" method="POST" enctype="multipart/form-data">

<label for="image">Profile-Picture</label><br><br>
<input class="input" type="file"  name="image" >

<label for="cv">CV-File</label><br><br>
<input class="input" type="file"  name="cv" >

<button type="submit"  > Save</button>
</form>

</div>
</body>
</html>